
.navegacao-banner{
  text-align: center;
  margin-bottom: 15px;
}

.btn-navegacao{
  background: #d7962a !important;
    border: none;
    color: #fff;
    width: 40px;
    height: 30px;
    font-size: 12px;
}

.btn-assistir-agora{
  background: #d7962a !important;
  color: #fff;
}

.btn-detalhes{
  background: #66127D !important;
  border: none;
  color: #fff;
  display: block; 
  width: 100%;
  margin-top: 10px;
}

.card{
  margin-bottom: 15px;
}


.p-descricao{
  font-size: 12px;
  color: #333;
  margin-bottom: 0px;
}

.p-lan-av{
  font-size: 12px;
  color: #333;
}

.card-title {
  height: 45px;
}